@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.home-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-heading {
    order: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin: 0px;
    margin-top: 50px;
}

.home-text1 {
    order: 2;  
}

.opening-text {
    order: 3;
}

.book-button {
    order: 4;
    background-color: transparent;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    padding: 18px 54px;
    border-radius: 5px;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.book-button:hover {
    background-color: grey;
    border: 2px black;
    transition: ease-in-out 0.2s;
}

.home-image {
    order: 5;
    margin-top: 30px;
    width: auto;
    min-width: 750px;  
    height: auto;
    max-height: 450px;
}

@media (max-width: 640px) {
    .home-image {
        order: 1;
        margin-top: 0;
        min-width: 0;
        width: 100vw;  
        height: auto;
        max-height: 250px;
    
    }
    
    .home-heading {
        order: 2;
        margin-top: 30px;
        font-size: 1.8rem;
    }

    .home-text1 {
        order: 3;  
    }
    
    .opening-text {
        order: 4;
    }

    .book-button {
        order: 5;
    }
}